@use '@angular/material' as mat;

mat-toolbar{
    position: relative;
    z-index: 5;
    background-color: var(--primary-dark-color),
}

mat-sidenav-container{
    height: calc(100vh - 64px);
    background-color: var(--background-color);
}

.content{
padding: 24px;

}

mat-sidenav, mat-sidenav-content{
    transition: all 500ms ease-in-out;
    
}

mat-sidenav{
 
  @include mat.sidenav-overrides((
    container-background-color: var(--primary-dark-color),
    container-text-color: black,
    container-divider-color: rgba(0, 0, 0, 0.1),
    /*container-shape:0 */
  ));
}

mat-icon{
    color: rgba(0, 0, 0, 0.5);
}