<mat-card-header>
  <mat-card-title>Costos Extra #{{ order.orderNumber }} </mat-card-title>
  <button mat-icon-button color="primary" style="margin-left: auto;" (click)="openAddCostDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card-header>

<mat-card-content>
  <mat-list>
    <ng-container *ngIf="order.extraCosts && order.extraCosts.length > 0; else noCosts">
      <mat-list-item *ngFor="let cost of order.extraCosts" class="extra-cost-item">
        <div>{{ cost.description }} <strong>${{ cost.price }}</strong></div>
      </mat-list-item>
    </ng-container>
    <ng-template #noCosts>
      <div class="m-t-8" style="text-align: center; color: #777;">No hay costos para mostrar</div>
    </ng-template>
  </mat-list>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Cerrar</button>
  </div>
</mat-card-content>
