<div class="forgot-password-container">
  <div class="illustration-section">
    <img
      src="assets/images/illustration.svg"
      alt="Forgot Password Illustration"
      class="illustration"
    />
  </div>
  <div class="form-section">
    <mat-card class="forgot-password-card">
      <mat-card-content>
        <h1 class="title">Olvidaste tu Contraseña?</h1>
        <p class="subtitle">
          Por favor ingresa el correo electronico asociado con tu cuenta, te
          enviaremos una nueva contraseña para que accedas y puedas
          actualizarla.
        </p>
        <form [formGroup]="form" (ngSubmit)="recoverPassword()" class="">
          <mat-label>Correo Electronico</mat-label>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="email" placeholder="Ingresa tu correo" />
          </mat-form-field>
          <div class="action-buttons">
            <button
              mat-flat-button
              color="primary"
              class="full-width"
              type="submit"
            >
              Recuperar Contraseña
            </button>
            <button
              mat-stroked-button
              color="accent"
              class="full-width"
              [routerLink]="['/authentication/login']"
            >
              Volver al Inicio de Sesión
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
