<mat-card-header>
    <mat-card-title>Editar Usuario</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
        <div class="row m-t-15">
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">Numero</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="number" formControlName="numberContract"  placeholder="numero de contrato" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-label class="f-w-600 m-b-8 d-block">Numero</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="number" formControlName="numberContract"  placeholder="numero de contrato" />
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-label class="f-w-600 m-b-8 d-block">Numero</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="number" formControlName="numberContract"  placeholder="numero de contrato" />
                </mat-form-field>
              </div>
        </div>
  
        <!-- Botones -->
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" class="m-r-20">Actualizar Usuario</button>
          <button mat-stroked-button color="warn" type="button">Cancelar</button>
        </div>
    </form>
  </mat-card-content>
