<mat-card class="cardWithShadow">
  <mat-card-content>
    
    <mat-card-title>Polizas</mat-card-title>
    <mat-card-subtitle class="mat-body-1">Lista de Polizas</mat-card-subtitle>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource1" class="w-100">
        <ng-container matColumnDef="class">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"
          >
            
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <img
                [src]="element.imagePath"
                alt="users"
                width="60"
                class="rounded"
              />
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.name }} </span>
            </h6>          
          </td>
        </ng-container>

        
        <ng-container matColumnDef="kmcoverage">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Kilometros
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.kmcoverage }} </span>
            </h6>          
          </td>
        </ng-container>

        <ng-container matColumnDef="moneycoverage">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Covertura
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.moneycoverage }} </span>
            </h6>          
          </td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          ></th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
