
<aside>
<div class="card flex flex-wrap" >
    
  <p-menu [model]="items" styleClass="w-full md:w-15rem ">
      <ng-template pTemplate="start">
          <span class="inline-flex align-items-center gap-1 px-2 py-2">
 
              <span class="font-medium text-xl font-semibold">UCAB</span>
          </span>
      </ng-template>
      <ng-template pTemplate="submenuheader" let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>

      <ng-template pTemplate="end"  label="Logout" (onClick)="logout()">
       
      </ng-template>
  </p-menu>
</div>
</aside>



