
        
    <p-menu [model]="items" class="fixed flex inset-0  my-2 ml-2 pt-20">
        <ng-template pTemplate="start">
            <span class="inline-flex align-items-center gap-1 px-2 py-2">
   
                <span class="text-xl font-semibold text-yellow-400">GRUAS UCAB</span>
            </span>
        </ng-template>
        <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
  
        <ng-template pTemplate="end"    >
         
        </ng-template>
    </p-menu>
  
 


