<mat-toolbar class="topbar">

  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <button mat-icon-button aria-label="Notifications" *appHasRole="['admin', 'operator']" (click)="openNotificationsDialog()">
    <i-tabler class="d-flex" name="bell" matBadge="1" matBadgeColor="primary"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="/assets/images/profile/user-1.jpg" class="roundedy-circle object-cover" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow">
    <button mat-menu-item [routerLink]="['/authentication/password']">
      <mat-icon class="d-flex align-items-center"><i-tabler name="key" class="icon-18 d-flex"></i-tabler></mat-icon>
      Cambiar contraseña
    </button>
    <div class="p-x-12 m-t-12">
      <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100" (click)="logout()">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>