<mat-card-header>
    <mat-card-title>Agregar Costo Extra</mat-card-title>
  </mat-card-header>
<mat-card-content>
  <form (ngSubmit)="onAddCost()">
    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
      <div class="row w-100">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 m-t-12 d-block">Descripcion</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedCost">
              @for(option of costOptions; track option.value) {
                <mat-option [value]="option.value">{{ option.viewValue }} <div style="font-weight: bold;">${{ option.numberValue }}</div></mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button mat-flat-button color="primary" (click)="onAddCost()">
      Agregar
    </button>
  </form>
</mat-card-content>
