@use '@angular/material' as mat;

:root {
  @include mat.card-overrides((
    title-text-font:"Roboto Condensed"
  ));
}
.button-login {
  width: 100%;

  -webkit-text-fill-color:var(--primary-dark-color);
  @include mat.button-overrides((
    disabled-container-color :var(--secondary-dark-color),
    container-color: var(--secondary-color)
  ));
}

.content {

  height: 100vh;

  align-content: center;
}




.card {
  max-width: 400px;
  background-color: var(--background2-color);
  margin-left: 470px;
}


mat-card-header{
  align-self: center;
mat-card-title {

text-align: center;
}
}



.form-full-width {
  margin: 15px;
  display: flex;

}


.form-full-width {

  @include mat.form-field-overrides((
    input-text-color: var(--secondary-dark-color),
    focus-label-text-color: var(--secondary-dark-color),
    outline-color:var(--secondary-dark-color),
    focus-outline-color: var(--secondary-dark-color),
    trailing-icon-color: var(--secondary-dark-color)
  ));

.icon-pass{
  color: var(--secondary-dark-color);
}

}

  