<div class="change-password-container">
  <mat-card class="change-password-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <h2 class="title">Cambiar Contraseña</h2>
      <p class="subtitle">
        Por favor ingresa tu nueva contraseña debajo.
      </p>
      <form>
        <mat-form-field appearance="fill" class="m-r-12">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput type="password" placeholder="Ingrese su Nueva Contraseña" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirme Contraseña</mat-label>
          <input matInput type="password" placeholder="Confirme su nueva contraseña" />
        </mat-form-field>
        <div class="action-buttons">
          <button mat-flat-button color="primary">
            Actualizar Contraseña
          </button>
          <button mat-stroked-button color="accent" class="m-l-12">
            Volver al Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
