@use '@angular/material' as mat;
@include mat.core();

html,
body {
  height: 100%;

 }
 body {
  margin: 0;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

html{
  --primary-color:#3970d0;
  --primary-dark-color:#32507C;
  --secondary-color:#E5AF0E;
  --secondary-dark-color:#b68c0c;
  --background-color:#b6afaf;
  --background2-color:#a0b7d9;

}

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  density: (
    scale: 0
  )
));








html {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);

}
