<h2>Servicios</h2>

<form (ngSubmit)="mapRoute()">
  <label for="origin">Origen:</label>
  <!-- Agregamos #originInput para referenciar este input en el código -->
  <input
  #originInput
  type="text"
  [(ngModel)]="origin"
  name="origin"
  required
/>

  <label for="destination">Destino:</label>
  <!-- Agregamos #destinationInput para referenciar este input en el código -->
  <input
  #destinationInput
  type="text"
  [(ngModel)]="destination"
  name="destination"
  required
  />

  <button type="submit">Calcular Ruta</button>
</form>

<h3>La distancia es: {{ distancia }}</h3>

<div class="map-container">
  <google-map 
    [options]="options" 
    height="600px" 
    width="800px" 
    (mapInitialized)="onMapReady($event)">
  </google-map>
</div>
