<div class="sidenav-header">
  <img  
  [width]="logoPicSize()" 
  [height]="logoPicSize()" 
  src="../../../assets/img/GRUAS-UCAB-AVATAR.jpg" />
  <div class="sidenav-header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2> GRUAS-UCAB</h2>
    <P>web site</P>
  </div>
  <mat-divider></mat-divider>
</div>
<mat-nav-list> 
  @for ( item of menuItems();track item.label ){
     <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()"/>
  }

    <a
    mat-list-item 
    class="menu-item" 
    
    routerLink="login"
    routerLinkActive = "sessionStorage.clear()"
    #rla= "routerLinkActive"
    [activated]="rla.isActive"
    >
    <mat-icon 
    [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" 
    matListItemIcon>
    
    logout</mat-icon>
    
    
    <span matListItemTitle  >
      
      Cerrar sesión</span>
    </a>
 
</mat-nav-list>